rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cho phép đọc thông tin người dùng
    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.uid == userId;
    }
    
    // Cho phép đọc tất cả bài đăng và chỉ cho phép chủ sở hữu bài đăng sửa/xóa
    match /posts/{postId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}